# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*.bak
*.~

# VC files
*.vcx*
*.sdf
*.sln
*.suo
*.pui

# Generated documentation (cluttering for now)
doc/

# Executable
src/magrathea
